{% extends "base.html" %}

{% block content %}
<div id="map"></div>

<script>
init();

{% if prev_track %}prevNext.setPrev("{{ prev_track.get_id() }}.html");{% endif %}
{% if next_track %}prevNext.setNext("{{ next_track.get_id() }}.html");{% endif %}

infoWindow.setType("{% if track._type %}{{track._type}}{% else %}n/a{% endif %}");
infoWindow.setLocation("{% if track._location %}{{track._location}}{% else %}n/a{% endif %}");
infoWindow.setDistance("{{track._distance|distance}}");
infoWindow.setStartTime("{{track._start_time|datetime}}");
infoWindow.setTimerTime("{{track._timer_time|timedelta}}");
infoWindow.setElapsedTime("{{track._elapsed_time|timedelta}}");
infoWindow.setPOI("{{track._pois|join(' ')}}");

{% if track._segments|length > 0 %}
var latlngs = [
    {% for segment in track._segments %}[
        {% for point in segment %}[{{'{:.5f},{:.5f}'.format(point._lat_lng.lat().degrees, point._lat_lng.lng().degrees)}}],{% endfor %}
    ],{% endfor %}
];

var polyline = L.polyline(latlngs, {color: 'red'});
polyline.addTo(map);

function fit () {
    map.fitBounds(polyline.getBounds(), {padding: [16, 16]});
}

fit();
zoomFit.setFunction(fit);
{% endif %}
</script>

{% endblock %}
