{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>POI</th>
                    <th class="has-text-right">Distance</th>
                    <th class="has-text-right">Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}<tr>
                    <td><a href="activity/{{track.get_id()}}.html">{{track._start_time|datetime}}</a></td>
                    <td>{% if track._type %}{{track._type}}{% endif %}</td>
                    <td>{% if track._location %}{{track._location}}{% endif %}</td>
                    <td>{{track._pois|join(' ')}}</td>
                    <td class="has-text-right"><tt>{{track._distance|distance}}</tt></td>
                    <td class="has-text-right"><tt>{{track._timer_time|timedelta}}</tt></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
